<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.ai.mapper.AiAgentMapper">
    
    <resultMap type="AiAgent" id="AiAgentResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="kbIds"    column="kb_ids"    />
        <result property="systemMessage"    column="system_message"    />
        <result property="memoryCount"    column="memory_count"    />
        <result property="modelId"    column="model_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="status"    column="status"    />
        <result property="visitUrl"    column="visit_url"    />
        <result property="dayLmtPerClient"    column="day_lmt_per_client"    />
        <result property="temperature"    column="temperature"    />
        <result property="maxOutputToken"    column="max_output_token"    />
        <result property="promptTemplate"    column="prompt_template"    />
    </resultMap>

    <sql id="selectAiAgentVo">
        select id, name, kb_ids, system_message, memory_count, model_id, create_by, create_time,
               update_by, update_time, status, visit_url, day_lmt_per_client, temperature, max_output_token, prompt_template from ai_agent
    </sql>

    <select id="selectAiAgentList" parameterType="AiAgent" resultMap="AiAgentResult">
        <include refid="selectAiAgentVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="kbIds != null "> and kb_ids = #{kbIds}</if>
            <if test="memoryCount != null  and memoryCount != ''"> and memory_count = #{memoryCount}</if>
            <if test="modelId != null "> and model_id = #{modelId}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectAiAgentById" parameterType="Long" resultMap="AiAgentResult">
        <include refid="selectAiAgentVo"/>
        where id = #{id}
    </select>

    <insert id="insertAiAgent" parameterType="AiAgent" useGeneratedKeys="true" keyProperty="id">
        insert into ai_agent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="kbIds != null">kb_ids,</if>
            <if test="systemMessage != null">system_message,</if>
            <if test="memoryCount != null and memoryCount != ''">memory_count,</if>
            <if test="modelId != null">model_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="status != null">status,</if>
            <if test="visitUrl != null">visit_url,</if>
            <if test="dayLmtPerClient != null">day_lmt_per_client,</if>
            <if test="temperature != null">temperature,</if>
            <if test="maxOutputToken != null">max_output_token,</if>
            <if test="promptTemplate != null">prompt_template,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="kbIds != null">#{kbIds},</if>
            <if test="systemMessage != null">#{systemMessage},</if>
            <if test="memoryCount != null and memoryCount != ''">#{memoryCount},</if>
            <if test="modelId != null">#{modelId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="status != null">#{status},</if>
            <if test="visitUrl != null">#{visitUrl},</if>
            <if test="dayLmtPerClient != null">#{dayLmtPerClient},</if>
            <if test="temperature != null">#{temperature},</if>
            <if test="maxOutputToken != null">#{maxOutputToken},</if>
            <if test="promptTemplate != null">#{promptTemplate},</if>
         </trim>
    </insert>

    <update id="updateAiAgent" parameterType="AiAgent">
        update ai_agent
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="kbIds != null">kb_ids = #{kbIds},</if>
            <if test="systemMessage != null">system_message = #{systemMessage},</if>
            <if test="memoryCount != null and memoryCount != ''">memory_count = #{memoryCount},</if>
            <if test="modelId != null">model_id = #{modelId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="visitUrl != null">visit_url = #{visitUrl},</if>
            <if test="dayLmtPerClient != null">day_lmt_per_client = #{dayLmtPerClient},</if>
            <if test="temperature != null">temperature = #{temperature},</if>
            <if test="maxOutputToken != null">max_output_token = #{maxOutputToken},</if>
            <if test="promptTemplate != null">prompt_template = #{promptTemplate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAiAgentById" parameterType="Long">
        delete from ai_agent where id = #{id}
    </delete>

    <delete id="deleteAiAgentByIds" parameterType="String">
        delete from ai_agent where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectAiAgentByVisitUrl" parameterType="java.lang.String" resultMap="AiAgentResult">
        <include refid="selectAiAgentVo"/>
        where visit_url = #{visitUrl}
    </select>
</mapper>